.title {
	font-family: $titleFontFamily;
	font-size: $titleFontSize;
	color: $titleFontColor;
	line-height: $titleLineHeight;
}
.btn {
	padding: 1rem 3rem;
	color: #fff;
	background-color: green;
	font-size: 2rem;
	font-family: serif;
}



