//<ШРИФТЫ>===============================================================================================

@import "fonts";

//<ПЕРЕМЕННЫЕ>===========================================================================================

@import "vars";

//<ОБНУЛЕНИЕ>============================================================================================

@import "reset";

//<ОБОЛОЧКА>=============================================================================================

body{
	font-family: $mainFontFamily;
	font-weight: $mainFontWeight;
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
	color: $mainFontColor;
	background-color: $background-color;
	position: relative;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}

[class*="__container"] {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 5rem;
}

//<БЭМ>=================================================================================================

@import "bem";

//<ШАПКА>===============================================================================================

@import "header";

//<ОСНОВНАЯ ЧАСТЬ>======================================================================================

.main {
	flex: 1 1 auto;
}

//<ПОДВАЛ>==============================================================================================

@import "footer";

//<МЕДИА ЗАПРОСЫ>=======================================================================================

@import "media";

