// Font
$mainFontFamily: Lora, Helvetica, Arial, sans-serif;
$mainFontColor: #fff;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
$mainFontSize: 2rem;

// Заголовки
$titleFontSize: 7.2rem; // Размеры заголовков
$titleFontColor: #fff; // Цвет заголовков
$titleFontFamily: Lora, Helvetica, Arial, sans-serif; // Шрифт заголовков
$titleLineHeight: 1.4; // Отсуп между строками

// Size
$maxWidthContainer: 172rem; // Ограничивающий контейнер

// Breakpoints
$laptopLwidth: 1440px;
$laptopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 575px;
$lphoneWidth: 425px;
$mPhoneWidth: 375px;
$smPhoneWidth: 320px;

// Main color
$default-color: #fff;
$background-color: #fff;
$dark-color: #000;
$light-color: #fff;

// Neutral Color
$placeholder-color: #fff;

// Border Color
$border-color: #dcdfe6;